*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
notes
ziptestdata
-prompt.back
requirements2.txt.back
source.bat
.DS_Store
.vscode
.vscode.back